:root {
    --top-bar-height: 3em;
    --bottom-bar-height: 3em;
}
body {
    background: #ddd;
}
* {
    font-family: sans-serif;
}
#e:not(.show) {
    display: none;
}
#e {
    background: #ddd;
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    z-index: 1;
}
#e input, #e textarea {
    background: white;
    padding: .5em;
    margin: .5em;
    border: 1px solid black !important;
    color: black;
}
#e input::placeholder, #e textarea::placeholder {
    color: gray;
}
.m {
    background: green;
    color: white;
    border-radius: 0 .5em .5em .5em;
    width: fit-content;
    line-break: anywhere;
    padding: .5em;
    margin: .5em;
    white-space: pre-wrap;
    line-height: normal;
}
.m.r {
    background: darkslateblue;
    align-self: flex-end;
    border-radius: .5em 0 .5em .5em;
}
.m > img, .m > video {
    min-width: 20em;
    max-width: 90vw;
}
#h {
    background: darkslateblue;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: var(--top-bar-height);
    line-height: var(--top-bar-height);
    display: flex;
}
#s {
    width: 30vw;
}
#c {
    position: fixed;
    top: var(--top-bar-height);
    line-height: var(--top-bar-height);
    left: 50vw;
    transform: translateX(-50%);
    width: min(100vw, 100vh);
    height: calc(100vh - var(--bottom-bar-height) - var(--top-bar-height));
    overflow-y: scroll;
    background: #eee;

    display: flex;
    flex-direction: column-reverse;
}
input, label {
    height: 100%;
    text-align: center;
    line-height: var(--bottom-bar-height);
}
input, label, #s, #h > span {
    background: darkslateblue;
    border: none;
    padding: 0;
    color: white;
    cursor: pointer;
    border-left: 1px solid white;
    border-right: 1px solid white;
}
#h > span {
    width: 70vw;
    padding-left: 1em;
}
input[type="submit"] {
    width: 15vw;
}
input[name="message"] {
    padding-left: 1em;
    padding-right: 1em;
    text-align: left;
    width: 70vw;
}
input::placeholder {
    color: #ddd;
}
label {
    width: 15vw;
}
#f {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: var(--bottom-bar-height);
    flex-direction: row;
    display: flex;
}